/*  your css code here. If applicable */
header{
	background-color:#011e29;
	text-align:center;
	}
body{
	background-color: #f5f5f5;
}
.pictorial-news-section{
	text-align:center;
}
.mainarticle{
	text-align:center;
}
.latest-news-section{
	text-align:center;
}